.header {
	height: 10vh;
	/* background-color: #000; */
	color: #fff;
	background-color: #1a1a1a;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header h2 a {
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
	text-decoration: none;
	margin-left: 30px;
}

.navigation_links {
	display: flex;
	list-style: none;
	border: 3px solid #fff;
	border-radius: 4px;
	margin-right: 30px;
}

.li-font {
	cursor: pointer;
	padding: 10px 18px;
	font-size: 16px;
	font-weight: 500;
	color: #fff;
	text-decoration: none;
	transition: all 200ms ease;
}

.li-font:hover {
	background-color: #fff;
	color: #000;
	transition: all 200ms ease;
}

.signIn {
	border-right: 1px solid #fff;
}
