.login_back-btn {
	position: absolute;
	top: 10px;
	left: 15px;
	font-size: 12px;
}

.login_back-btn a {
	color: #000;
}

.login_container {
	display: flex;
	height: 100vh;
}

.login_sidebar {
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
	background: url('../img/loginbackground.jpg') no-repeat center / cover;
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 20px;
	width: 30%;
	align-items: center;
	height: 100%;
	color: #fff;
	order: 2;
}

.login_sidebar h1 {
	font-size: 55px;
	font-weight: 400;
	text-shadow: 2px 2px 4px #000;
}

.login_sidebar-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	top: 50%;
}

.login_sidebar h3 {
	font-size: 30px;
	text-shadow: 2px 2px 4px #000;
}

.login_sidebar ul {
	padding: 20px 0;
	display: flex;
	justify-content: center;
	width: 100%;
}

.login_sidebar li {
	list-style: none;
	padding: 5px 0;
}

.login_sidebar a {
	text-decoration: none;
	color: #fff;
	font-size: 20px;

}

.login_sidebar li:nth-child(1) {
	margin-right: 10px;
	border-bottom: 2px solid #fff;
}

/* LOGIN FORM CONTAINER */
.login_form-container {
	width: 70%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.login_form {
	border-radius: 4px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	height: 75%;
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.login_form h1 {
	font-size: 60px;
	font-weight: 400;
}

.login_inputs-container {
	display: flex;
	flex-direction: column;
}

.login_inputs-container p {
	font-size: 12px;
	text-align: end;
}

.login_inputs-container input {
	border-radius: 4px;
	border: 1px solid lightgray;
	margin: 10px 0;
	width: 300px;
	padding: 8px 10px;
}

/* login button container */
.login_button-container {
	display: flex;
	flex-direction: column;
}

.login_button-container button {
	padding: 10px;
	background-color: #000;
	border: none;
	color: #fff;
	border-radius: 4px;
	cursor: pointer;
}

.login_button-container p {
	font-size: 12px;
	margin-top: 5px;
}
