.register_back-btn {
	position: absolute;
	top: 10px;
	left: 15px;
	font-size: 12px;
	z-index: 100;
}

.register_back-btn a {
	color: #fff;
	text-shadow: 2px 2px 4px #000;
}

.register_container {
	display: flex;
	height: 100vh;
}

.register_sidebar {
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
	background: url('../img/registerbackground.jpg') no-repeat center / cover;
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 20px;
	width: 30%;
	align-items: center;
	height: 100%;
	color: #fff;
}

.register_sidebar h1 {
	text-shadow: 2px 2px 4px #000;
	font-size: 55px;
	font-weight: 400;
}

.newUserRegistration {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	top: 50%;
}

.register_sidebar h3 {
	font-size: 30px;
	text-align: center;
	line-height: 1.4em;
	text-shadow: 2px 2px 4px #000;
}

.register_sidebar ul {
	padding: 20px 0;
	display: flex;
	justify-content: center;
	width: 100%;
	
}

.register_sidebar li {
	list-style: none;
	padding: 5px 0;
	text-shadow: 2px 2px 4px #000;
}

.register_sidebar a {
	text-decoration: none;
	color: #fff;
	font-size: 20px;
}

.register_sidebar li:nth-child(2) {
	margin-left: 10px;
	border-bottom: 2px solid #fff;
}

/* form container */
.register_form-container {
	width: 70%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.register_form {
	border-radius: 4px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	height: 75%;
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.register_form h1 {
	font-weight: 400;
	font-size: 60px;
}

.register_inputs-container {
	display: flex;
	flex-direction: column;
}

.register_name-input,
.register_email-input,
.register_password-input,
.register_passwordTwo-input {
	width: 300px;
	padding: 8px 10px;
	margin: 10px 0;
	margin-left: 20px;
	border: 1px solid lightgray;
	border-radius: 4px;
}

/* register button container */
.register_button-container {
	display: flex;
	flex-direction: column;
}

.register_button-container button {
	padding: 10px;
	background-color: #000;
	border: none;
	color: #fff;
	border-radius: 4px;
	cursor: pointer;
}

.register_button-container p {
	font-size: 12px;
	text-align: center;
	margin-top: 5px;
}


/* validate styles */
.notValid {
	width: 300px;
	padding: 8px 10px;
	margin: 10px 0;
	margin-left: 20px;
	border: 1px solid red;
	border-radius: 4px;
}

.errorMessage {
	text-align: center;
	color: rgb(209, 0, 0);
	font-size: 13px;
}
